body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.top-banner {
    background-image: url(images/donation9.jpg);
    height: 500px;
    border-top: 0;
    background-repeat: no-repeat;
    background-size: 100%;
}

.banner p {
    padding-bottom: 30px;
}

h1 {
    font-size: 50px;
    color: white;
    text-align: center;

}

.banner {
    color: white;
    text-align: center;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(lime, seagreen);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;

}

h2 {
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
}

.flexible-container {
    display: flex;
}

.amount {
    display: flex;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    margin-bottom: 100px;
    background-color: seashell;
}

#specific-item {
    border: 2px solid red;
    color: red;
}

.amount-no {
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
}

.amount-no input {
    padding: 10px;
    width: 400px;
    border: none;
    border-bottom: 2px solid darkgray;
}

.button-donate {
    text-align: center;
    margin-bottom: 100px;
}

p {
    text-align: center;
}

.food {
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    background-color: ghostwhite;
}

.food p {
    text-align: left;
    font-size: 15px;
}

.food-icon {
    margin-top: 30px;
}

.donate-plan p {
    padding-bottom: 20px;
}

.shelter {
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    background-color: lavenderblush;

}

.shelter-icon {
    margin-top: 30px;
}

.shelter p {
    text-align: left;
    font-size: 15px;
}

.education {
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    background-color: lemonchiffon;

}

.education-icon {
    margin-top: 30px;
}

.education p {
    text-align: left;
    font-size: 15px;
}

.donate-plan {
    margin-bottom: 100px;
}

.updates {
    margin-bottom: 100px;
}

.get-email {
    text-align: center;
}

.updates p {
    margin-bottom: 50px;
}

.get-info {
    background: antiquewhite;
    background-size: 100%;
    padding: 100px;
    margin: 100px;
}

.get-email input {
    padding: 10px;
}

#reg {
    background-color: tomato;
    color: white;
    border: none;
}

#email {
    background-color: gainsboro;
    border: none;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    height: 150px;
    padding-top: 40px;
}

.humble {
    color: lightcoral;
    font-family: 'Lobster', curive;
    font-size: 25px;
}